*.avi
*.webm
*.MOV
*.mov

assets/*.png
assets/*.json

node_modules/

doc/materials/useful/Random Forest/

bin/*.a
bin/tracking
*.o
bin/**/*.bmp
bin/**/*.txt

.sconsign.dblite
*.sublime-workspace

*.pdf
*.log