body {
  margin: 0;
  padding: 0;
  background-color: slategray;
  font-size: 62.5%;
}

label {
  font-size: 1.5em;
  margin-right: 33px;
}

.keypoints {
  cursor: crosshair;
}

.parameters-container {
  width: 640px;
  text-align: center;
  border: 1px dashed lightgray;
}

.parameters-container label {
  width: 280px;
  display: inline-block;
}

.bordered {
  border: 1px dashed lightgray;
  width: 640px;
  height: 480px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

.centered-content {
  display: -webkit-box;
  display: box;

  -webkit-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  box-pack: center;
}

.main-content {
  display: -webkit-box;
  display: box;

  -webkit-box-orient: vertical;
  box-orient: vertical;

  -webkit-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  box-pack: center;

  margin: 100px 150px 0px;
  background-color: white;

  border-radius: 5px;
  border: 1px solid gray;
}

.main-content section {
  padding: 5px;
}

.media-container {
  display: -webkit-box;
  display: box;

  -webkit-justify-content: center;
  justify-content: center;

  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}

.media-container section {
  margin: 0 5px;
}

.loader-control {
  border: 0;
  width: 60px;
  height: 60px;
}

#movies {
  font-size: 1.5em;
  width: 480px;
  margin-left: 31px;
}

#algorithms {
  font-size: 1.5em;
  width: 480px;
}

#invoke {
  width: 600px;
  font-size: 1.5em;
}

#save {
  width: 200px;
  font-size: 1.5em;
}

#clear {
  width: 200px;
  font-size: 1.5em;
}

#undo {
  width: 200px;
  font-size: 1.5em;
}

.hidden {
  display: none;
}